* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;

  
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  
  
}

body {
    color: white;
    max-width: 100%;
  overflow-x: hidden;
  
  
   
}


    #tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}




.container {
  padding: 1rem 6rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  height: 10vh;
  z-index: 9999;
  background-color: transparent;
   transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    visibility: visible;
      opacity: 1;
      transform: translateY(0);
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo img {
  height: 4rem;
  width: 4rem;
}

header .logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
}

nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s linear;
}

header nav a::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s linear;
}

header nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s linear;
}

header .extra-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

header .extra-nav button {
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  
  padding: 10px 12px;
  transition: 0.3s linear;
}

header .extra-nav button:hover {
  background: #fff;
  color: #000;
  transition: 0.3s linear;
}
#header.hide{
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);

}

#header.shadow{
  box-shadow: 0 1px 1.5px white !important;
  background-color: black;

}
.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  color: white;
    left: 50%;
    transform: translateX(-50%);
}


.inicio {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}



.inicio .container .content h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 40px;
  width: 75%;
}







.inicio .titulo{
   color: white;
  font-size: 5rem;
  text-shadow: 0 0 5px #0ff,
               0 0 10px #0ff,
               0 0 20px #0ff,
               0 0 40px #09f,
               0 0 60px #09f;
  animation: brillo 2s infinite alternate;
}

.boton-brillante {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 1px white,
              0 0 2px white,
              0 0 3px white,
              0 0 4px white,
              0 0 10px #00f;
transition: all 0.4s linear;

  
}

.boton-brillante:hover {
 background-color: white;
 color: black;
 box-shadow: none;
 transform: scale(1.02);
 border-color: #000;
}
.scroll-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 2s infinite;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: white 2px solid;
  border-radius: 50%;
  height: 4rem;
  font-size: 2rem;
  width: 4rem;
}







  
#sobremi{
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
   display: flex;
  flex-direction: column;
  justify-content: center;
    
}

.contenedor{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.contenedor .sobremi{
    margin-left: 5%;
    width: 50%;
    
}

.sobremi h1{
    font: italic bold 3.5rem "IBM Plex Sans", sans-serif;

}

.sobremi h2{
    font: italic bold 2.5rem "IBM Plex Sans", sans-serif;
    color: var(--titulos);

}

.contenedor .imagen{
    width: 30%;
    height: 80vh;
     
}

.contenedor .imagen img{
    width: 100%;
    height: 100%;
    border-radius: 15%;
     box-shadow: 0 0 5px white,
                   0 0 7.5px white,
                   0 0 10px #00f,
                   0 0 12.5px #00f,
                   0 0 15px #00f;
      animation: brillo-box 2s infinite alternate;
    
  
}

.contenedor .textodemi{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:left;
    align-content: center;
    
    
}

.textodemi p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
}

.nombre{
  color: black;
  background-color: white;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15%;
}


.nombrepr{
  color: black;
  background-color: white;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15%;
  font-size: 1.3rem;
}

.botonsobremi{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    width: 33%;
    padding: 0.5rem;
    margin-top: 5%;
    border-radius: 1rem;
    font-size: 1rem;
    text-decoration: none;;
}

.botonsobremi:hover{
    background-color: transparent;
  
    color: black;
    background-color: white;
    transform: scale(1.02);
    transition: all 0.4s linear;
}

.skill,
.project,
.contact {
  padding: 3rem 0;
  width: 100%;
  min-height: 75vh;
}
.skill.content{
  width: 100%;
}

.skill .container .content,
.project .container .content,
.contact .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100vw;
  width: 100%;
}

.skill .container .content .skills {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 18px;
  width: 50%;
}

.skill .container .content .skills .skill-box {
  padding: 4px;
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  filter: grayscale(100);
  transition: all 0.2s linear;
}

.skill .container .content .skills .skill-box:hover {
  filter: grayscale(0);
  transform: scale(1.02);
  transition: all 0.2s linear;
}

.skill .container .content .skills .skill-box img {
  width: 100%;
  height: 75%;
}

  .iconosproyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;

  }
  
  .tag{ 
    font-size: 0.5rem;
   
    margin-right: 0.5rem;
    

  }
  .imagen{

    height: 1.8rem;
  }

#project{
  min-height: 100vh;
}

.visitarproyecto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.botonproyecto{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    width: 50%;
    padding: 0.5rem;
    margin-top: 5%;
    border-radius: 1rem;
    font-size: 1rem;
    text-decoration: none;;
}

.botonproyecto:hover{
    color: white;
  
    transform: scale(1.02);
    transition: all 0.4s linear;
}

.proyectoscont{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
  gap: 100px;
  margin-bottom: 100px;
}
.contenedorpro{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  

}

.card{
 
  color: white;
  background-color: transparent;
  

     box-shadow: 0 0 5px white,
                   0 0 7.5px white,
                   0 0 10px #00f,
                   0 0 12.5px #00f,
                   0 0 15px #00f;
      animation: brillo-box 2s infinite alternate;
    
  
  
}


#contacto{
    height: 100vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: hidden;


    
}

.formulario-container {
  background-color: transparent;
  width: 70%;
  height: 50%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  
}


.formulario input,
.formulario textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 2px solid white;
  border-radius: 1rem;
  font-size: 16px;
  transition: border 0.2s ease;
  background-color: transparent;
  color: white;
}

.formulario input:focus,
.formulario textarea:focus {
  box-shadow: 0 0 5px white,
                   0 0 7.5px white,
                   0 0 10px #00f,
                   0 0 12.5px #00f,
                   0 0 15px #00f;
      animation: brillo-box 2s infinite alternate;
}

.formulario textarea {
  resize:none;
  height: 100px;
}

.contactotitulo{
  font:500 3.5rem "IBM Plex Sans", sans-serif;
  color: var(--titulos);;
}

#typed{
  font:300 1.5rem "IBM Plex Sans", sans-serif;
  color: var(--texto);
}

.botoncontacto{
  cursor: pointer;
  background-color: transparent;
  padding: 1rem;
  width: 25%;
  border-radius: 1rem;
  border: white 2px solid;
  color: white;
  
  font-size: 1rem;
  transition: all 0.4s linear;;

}

.botoncontacto:hover{
   background-color: white;
 color: black;
 box-shadow: none;
 transform: scale(1.02);
 border-color: #000;

}

.redes{
margin-bottom: 1.5rem;
display: flex;
flex-direction: row;
justify-content: center;
gap: 1.5rem;
}

.redes i{
  font-size: 2rem;
  color: white;
}

.redes i:hover{
  color: var(--color-secundario);
  transform: scale(1.02);
  transition: all 0.4s linear;
}

@media screen and (max-width: 768px) {

  header{
    max-width: 100vw;
  }

 

  
    nav {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 8vh;
       gap: 1.5rem;
      right: 0;
      width: 100%;
      padding: 1rem 0 0 0;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      z-index: 999;
      background-color: black;
      padding-bottom: 5%;
    }
    nav.show {
      display: flex !important;
    }


    .hamburger {
      display: block;
    }

    header .extra-nav button {
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  
  padding: 10px 12px;
  transition: 0.3s linear;
}

header .extra-nav button:hover {
  background: #fff;
  color: #000;
  transition: 0.3s linear;
}




    
.inicio {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.inicio .container{
  width: 100%;
}
.inicio .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

}



.inicio .container .content h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 40px;
  width: 100%;
}








.inicio .titulo{
  text-align: center;
   color: white;
   font-size: 3rem;
      
      text-shadow: 0 0 5px white,
                   0 0 10px white,
                   0 0 20px #00f,
                   0 0 40px #00f,
                   0 0 60px #00f;
      animation: brillo 2s infinite alternate;
}

.scroll-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
 
}

.boton-brillante{
  font-size: 1.1rem;
  width: 100%;
}






     
#sobremi{
  height: auto;
  flex-direction: column;

  
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    
}





.contenedor .imagen{
    width: 90%;
    margin-left:5% ;
    height: 50vh;
    margin-top: 5%;
     
}
.contenedor .textodemi{
    width: 90%;
    margin-left:5%;
}

.boton-cv{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.boton-cv a{
  width: 75%;
}



.botonsobremi{
    width: 100%;
  
}



.container {
  padding: 1rem 1rem;
}


.skill,
.project,
.contact {
  padding: 3rem 0;
  width: 100%;
  min-height: 75vh;
}


.skill .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
 

}

.skill .container .content .skills {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.skill .container .content .skills .skill-box {
  padding: 4px;
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  filter: grayscale(100);
  transition: all 0.2s linear;
}

.skill .container .content .skills .skill-box:hover {
  filter: grayscale(0);
  transform: scale(1.02);
  transition: all 0.2s linear;
}

.skill .container .content .skills .skill-box img {
  width: 100%;
  height: 75%;
}


.botonproyecto{
    
    width: 80%;
   
}

.proyectoscont{
  
  gap: 4rem;
  margin-bottom: 4rem;
}





.formulario-container {
  width: 90%;
}



.botoncontacto{
  width: 50%;
  
}

  }




@keyframes brillo {
  0% {
    text-shadow: 0 0 5px #0ff,
                 0 0 10px #0ff,
                 0 0 20px #0ff,
                 0 0 40px #09f,
                 0 0 60px #09f;
  }
  100% {
    text-shadow: 0 0 10px #0ff,
                 0 0 20px #0ff,
                 0 0 30px #0cf,
                 0 0 60px #0cf,
                 0 0 80px #0cf;
  }
}

@keyframes brillo-box {
      0% {
        box-shadow: 0 0 5px white,
                     0 0 7.5px white,
                     0 0 10px #00f,
                     0 0 12.5px #00f,
                     0 0 15px #00f;
      }
      100% {
        box-shadow: 0 0 10px white,
                     0 0 12.5px white,
                     0 0 15px #0ff,
                     0 0 17.5px #0ff,
                     0 0 20px #0ff;
      }
    }

    @keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
}


